.card__likes-amount {
margin: 0;
padding: 0;
border: 0;
background: 0;
/* margin-top: 30px; */
margin-bottom: 22px;
margin-right: 16px;
text-align: center;
font-weight: 400;
font-size: 13px;
line-height: 15.73px;
color: #000;
width: 30px;
height: 13px
}
