@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__name-wrap/profile__name-wrap.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__position/profile__position.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__container/elements__container.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__delete/card__delete.css);
@import url(../blocks/card/__heading/card__heading.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup-edit/popup-edit.css);
@import url(../blocks/popup-edit/_opened/popup-edit_opened.css);
@import url(../blocks/popup-edit/__close/popup-edit__close.css);
@import url(../blocks/popup-edit/__container/popup-edit__container.css);
@import url(../blocks/popup-edit/__heading/popup-edit__heading.css);
@import url(../blocks/popup-add/popup-add.css);
@import url(../blocks/popup-add/__close/popup-add__close.css);
@import url(../blocks/popup-add/__container/popup-add__container.css);
@import url(../blocks/popup-add/__heading/popup-add__heading.css);
@import url(../blocks/popup-add/_opened/popup-add_opened.css);
@import url(../blocks);
